$black: #333;
$light-black: #312e2f;
$white: #fff;
$gray: #666;
$light-gray: #999;

$orange: #f5a623;
$light-orange: #e6ac81;
$red: #f86161;
$dark-red: #e24144;
$blue: #34a6f8;
$light-blue: #e1f2fa;
$navy: #55cde6;
$grass: #54a240;
$light-grass: #b0e16a;
$green: #00c35a;
$light-green: #f0f9eb;
$purple: #833ea2;
$light-purple: #6049e8;

$primary: #34a6f8;
$warning: #f5a623;
$error: #e24144;
$success: #54a240;

$background-color: #f8f8f8;
$background-color-hover: #e8e8e8;
$border-color: #e9ebee;
