$black: #333;
$light-black: #312e2f;
$white: #fff;
$gray: #666;
$light-gray: #999;

$orange: #f5a623;
$light-orange: #E6AC81;
$red: #f86161;
$dark-red: #E24144;
$blue: #34A6F8;
$light-blue: #e1f2fa;
$navy: #55CDE6;
$grass: #54A240;
$light-grass: #B0E16A;
$green: #00c35a;
$light-green: #f0f9eb;
$purple: #833EA2;
$light-purple: #6049E8;

$primary: #34A6F8;
$warning: #f5a623;
$error: #E24144;
$success: #54A240;

$background-color: #f8f8f8;
$background-color-hover: #e8e8e8;
$border-color: #e9ebee;
